[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/reddit
Environment="DATABASE_URL=130.193.51.235:27017"
ExecStart=/bin/bash -lc 'puma'

Restart=always

[Install]
WantedBy=multi-user.target