service_account_key_file = ""
cloud_id = "cid"
folder_id = "fid"
zone = "ru-central1-a"
app_disk_image = "app"
db_disk_image = "db"
public_key_path = "path"
private_key_path = "path"
subnet_id = "id"
