cloud_id = "1"
folder_id = "1"
zone = "1"
image_id = "1"
public_key_path = "~/.ssh/yc.pub"
private_key_path = "~/.ssh/yc"
subnet_id = "1"
service_account_key_file = "file"
app_disk_image = "reddit-base-app"